USE [master]
GO
/****** Object:  Database [gameDatabase]    Script Date: 12/6/2016 2:52:40 PM ******/
CREATE DATABASE [gameDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gameDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\gameDatabase.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gameDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\gameDatabase_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gameDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gameDatabase]
GO
/****** Object:  Table [dbo].[friendsList]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friendsList](
	[friendsListId] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[friendId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[friendsListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[game]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[game](
	[gameId] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[price] [int] NULL,
	[genre] [varchar](255) NOT NULL,
	[ESRB] [int] NOT NULL,
	[salesDiscountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[member]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[member](
	[memberId] [int] NOT NULL,
	[displayName] [varchar](255) NOT NULL,
	[memberPassword] [varchar](32) NOT NULL,
	[wishlistId] [int] NOT NULL,
	[paymentId] [int] NOT NULL,
	[friendListId] [int] NOT NULL,
	[isEmployee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[memberDetails]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[memberDetails](
	[memberId] [int] NOT NULL,
	[firstName] [varchar](255) NOT NULL,
	[lastName] [varchar](255) NOT NULL,
	[gender] [varchar](255) NULL,
	[dateOfBirth] [datetime] NOT NULL,
	[favoritePlatform] [varchar](30) NULL,
	[favoriteGenre] [varchar](30) NULL,
	[emailAddress] [varchar](255) NOT NULL,
	[mailingAddress] [varchar](255) NULL,
	[shippingAddress] [varchar](255) NULL,
	[promotional] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[memberEvents]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[memberEvents](
	[eventId] [int] NOT NULL,
	[dateAndTime] [datetime] NOT NULL,
	[registeredMembersId] [int] NOT NULL,
	[eDescription] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[memberGameRepository]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberGameRepository](
	[libraryId] [int] NOT NULL,
	[gameId] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[dateOfPurchase] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[libraryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[paymentInformation]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[paymentInformation](
	[paymentId] [int] NOT NULL,
	[payType] [varchar](255) NOT NULL,
	[cardNumber] [int] NOT NULL,
	[csc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reviews](
	[reviewId] [int] NOT NULL,
	[gameId] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[review] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[salesDiscounts]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesDiscounts](
	[salesDiscountId] [int] NOT NULL,
	[salesDiscount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[salesDiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[salesHistory]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesHistory](
	[salesID] [int] NOT NULL,
	[gameId] [int] NOT NULL,
	[priceAtPurchase] [int] NULL,
	[memberId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[salesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 12/6/2016 2:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[wishlistId] [int] NOT NULL,
	[gameId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [UQ__friendsL__6A5D6716BC607BAF]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[friendsList] ADD UNIQUE NONCLUSTERED 
(
	[friendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__friendsL__7FD7CF1715E63390]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[friendsList] ADD UNIQUE NONCLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__game__4C48BC3CDB19D02A]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[game] ADD UNIQUE NONCLUSTERED 
(
	[salesDiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__game__72E12F1B95C969AE]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[game] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__member__2C716EAC3F4177B9]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[member] ADD UNIQUE NONCLUSTERED 
(
	[friendListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__member__32DE959A2501C0B1]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[member] ADD UNIQUE NONCLUSTERED 
(
	[displayName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__member__46E2A1B19DE355A2]    Script Date: 12/6/2016 2:52:40 PM ******/
ALTER TABLE [dbo].[member] ADD UNIQUE NONCLUSTERED 
(
	[wishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__member__A0D9EFC707167DAD]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[member] ADD UNIQUE NONCLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__memberEv__04E721B52B65A152]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[memberEvents] ADD UNIQUE NONCLUSTERED 
(
	[registeredMembersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__memberGa__7FD7CF17BA7EED63]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[memberGameRepository] ADD UNIQUE NONCLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__memberGa__DA90B45308044585]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[memberGameRepository] ADD UNIQUE NONCLUSTERED 
(
	[gameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__paymentI__4CD3FAA2E730D826]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[paymentInformation] ADD UNIQUE NONCLUSTERED 
(
	[cardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__reviews__7FD7CF1735BBAFD4]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[reviews] ADD UNIQUE NONCLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__reviews__DA90B4535D12E79E]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[reviews] ADD UNIQUE NONCLUSTERED 
(
	[gameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__salesDis__6C4BB4610CF2D3EB]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[salesDiscounts] ADD UNIQUE NONCLUSTERED 
(
	[salesDiscount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__salesHis__7FD7CF17B052B553]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[salesHistory] ADD UNIQUE NONCLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__salesHis__DA90B453627B243F]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[salesHistory] ADD UNIQUE NONCLUSTERED 
(
	[gameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__wishlist__DA90B4538EB9D706]    Script Date: 12/6/2016 2:52:41 PM ******/
ALTER TABLE [dbo].[wishlist] ADD UNIQUE NONCLUSTERED 
(
	[gameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
